<?xml version="1.0" encoding="utf-8"?>
<config>

    
    
    <modules>
        <Betaout_Amplify>
            <version>0.1.1</version>
        </Betaout_Amplify>
    </modules>
    <global>
        <models>
            <betaout_amplify>
                <class>Betaout_Amplify_Model</class>
                <resourceModel>betaout_amplify_mysql4</resourceModel>
            </betaout_amplify>
            <betaout_amplify_mysql4>
                <class>Betaout_Amplify_Model_Mysql4</class>
            </betaout_amplify_mysql4>
            <sales>
                <rewrite>
                    <order>Betaout_Amplify_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        
        <helpers>
            <betaout_amplify>
                <class>Betaout_Amplify_Helper</class>
            </betaout_amplify>
        </helpers> 

        <events>
              <checkout_cart_add_product_complete>
                <observers>
                    <amplify_add_to_cart>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventAddToCart</method>
                    </amplify_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete> 
            <sales_order_item_cancel>
                <observers>
                    <betaout_amplify_sales_order_item_cancel>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCancelOrderItem</method>
                    </betaout_amplify_sales_order_item_cancel>
                </observers>
            </sales_order_item_cancel>
            <checkout_cart_update_items_after>
                <observers>
                    <betaout_amplify_checkout_cart_update_items_after>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplify_cartUpdate</method>
                    </betaout_amplify_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
            <sales_order_status_change>
                <observers>
                    <sales_order_status_change>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCheckOrderStatus</method>
                    </sales_order_status_change>
                </observers>
            </sales_order_status_change>
            <customer_address_save_before>
                <observers>
                    <customer_address_before_save>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCustomerAdressSaveAfter</method>
                    </customer_address_before_save>
                </observers>
            </customer_address_save_before>
            <customer_save_after>
                <observers>
                    <customer_save_after>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>customerSaveAfter</method>
                    </customer_save_after>
                </observers>
            </customer_save_after>
            <customer_register_success>
                <observers>
                    <amplify_customer_register_success>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>eventCustomerRegisterSuccess</method>
                    </amplify_customer_register_success>
                </observers>
            </customer_register_success>
            <admin_system_config_changed_section_betaout_amplify_options>
                <observers>
                    <yourmodule>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyConfigChangeObserver</method>
                    </yourmodule>
                </observers>
            </admin_system_config_changed_section_betaout_amplify_options>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_type_onepage_save_order>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyOrderSuccessPageView</method>
                    </checkout_type_onepage_save_order>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_type_onepage_save_order>
                <observers>
                    <checkout_type_onepage_save_order>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>checkout_type_onepage_save_order</method>
                    </checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <!--            <catalog_product_save_before>
                <observers>
                    <catalog_product_save_before>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>catalog_product_save_before</method>
                    </catalog_product_save_before>
                </observers>
            </catalog_product_save_before>-->
            <catalog_product_save_after>
                <observers>
                    <catalog_product_save_after>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCatalog_product_save_after</method>
                    </catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <sales_order_save_commit_after><!--could used sales_order_save_after for backend support, but it fires mulitple times-->
                <observers>
                    <amplify_sales_order_save_commit_after>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifySales_order_save_commit_after</method>
                    </amplify_sales_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>
            
        </events>
      
    </global>
    <frontend>
        <routers>
            <amplify>
                <use>standard</use>
                <args>
                    <module>Betaout_Amplify</module>
                    <frontName>amplify</frontName>
                </args>
            </amplify>
        </routers>
        <layout>
            <updates>
                <betaout_amplify module="Betaout_Amplify">
                    <file>betaout_amplify.xml</file>
                </betaout_amplify>
            </updates>
        </layout>
        <events>
            <sales_quote_remove_item>
                <observers>
                    <sales_quote_remove_item>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventRemoveFromCart</method>
                    </sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
<!--            <checkout_cart_save_after>
                <observers>
                    <checkout_cart_save_after>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>removeQuoteItem</method>
                    </checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>-->
<!--            <checkout_cart_update_items_before>
                <observers>
                    <wishlist>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>eventRemoveFromCart</method>
                    </wishlist>
                </observers>
            </checkout_cart_update_items_before>-->
            
            <customer_logout>
                <observers>
                    <amplify_customer_logout>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCustomerLogout</method>
                    </amplify_customer_logout>
                </observers>
            </customer_logout>
            <customer_login>
                <observers>
                    <amplify_customer_login>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCustomerLogin</method>
                    </amplify_customer_login>
                </observers>
            </customer_login>
            <customer_save_commit_after>
                <observers>
                    <amplify_customer_save>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>eventCustomerSave</method>
                    </amplify_customer_save>
                </observers>
            </customer_save_commit_after>
            <sales_order_place_after><!--could used sales_order_save_after for backend support, but it fires mulitple times-->
                <observers>
                    <amplify_order_save>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventOrder</method>
                    </amplify_order_save>
                </observers>
            </sales_order_place_after>
            
            
<!--            <sales_order_place_before>
                <observers>
                    <amplify_customer_register_from_checkout>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getamplifyEventCustomerSave</method>
                    </amplify_customer_register_from_checkout>
                </observers>
            </sales_order_place_before>-->
            <customer_register_success>
                <observers>
                    <amplify_customer_register_success>
                        <type>model</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCustomerRegisterSuccess</method>
                    </amplify_customer_register_success>
                </observers>
            </customer_register_success>
<!--            <checkout_cart_add_product_complete>
                <observers>
                    <amplify_add_to_cart>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventAddToCart</method>
                    </amplify_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete> -->
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <amplify_add_coupon_from_cart>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventCoupon</method>
                    </amplify_add_coupon_from_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <amplify_add_coupon>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>eventCoupon</method>
                    </amplify_add_coupon>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
            <newsletter_subscriber_save_before>
                <observers>
                    <amplify_newsletter_subscribe>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventNewsletter</method>
                    </amplify_newsletter_subscribe>
                </observers>
            </newsletter_subscriber_save_before>
            <!--            <newsletter_subscriber_save_after>
                <observers>
                    <personalmerchant_newsletter_subscribe_observer>
                        <class>personalmerchant/backend_observer</class>
                        <method>subscribeCustomer</method>
                    </personalmerchant_newsletter_subscribe_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <personalmerchant_newsletter_unsubscribe_observer>
                        <class>personalmerchant/backend_observer</class>
                        <method>unsubscribeCustomer</method>
                    </personalmerchant_newsletter_unsubscribe_observer>
                </observers>
            </newsletter_subscriber_delete_after>-->
            
            <review_controller_product_init_after>
                <observers>
                    <amplify_product_review>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventReview</method>
                    </amplify_product_review>
                </observers>
            </review_controller_product_init_after>
            <poll_vote_add>
                <observers>
                    <amplify_poll_vote>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventVote</method>
                    </amplify_poll_vote>
                </observers>
            </poll_vote_add>
            <wishlist_add_product>
                <observers>
                    <amplify_wishlist_add_product >
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyEventWishlist</method>
                    </amplify_wishlist_add_product >
                </observers>
            </wishlist_add_product>
            <sales_quote_save_after>
                <observers>
                    <amplify_sales_quote_save_after>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>sales_quote_save_after</method>
                    </amplify_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
<!--                        <sales_quote_save_before>
                <observers>
                    <amplify_sales_quote_save_before>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>sales_quote_save_after</method>
                    </amplify_sales_quote_save_before>
                </observers>
            </sales_quote_save_before>-->
            <checkout_allow_guest>
                <observers>
                    <amplify_checkout_allow_guest>
                        <type>singleton</type>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplify_checkout_allow_guest</method>
                    </amplify_checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
            <catalog_controller_product_view>
                <observers>
                    <catalogProductView>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCatalogProductView</method>
                    </catalogProductView>
                </observers>
            </catalog_controller_product_view>
            <wishlist_share>
                <observers>
                    <wishlist_share>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>wishlistShare</method>
                    </wishlist_share>
                </observers>
            </wishlist_share>
            <sendfriend_product>
                <observers>
                    <sendfriend_product>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifySendfriendProduct</method>
                    </sendfriend_product>
                </observers>
            </sendfriend_product>
            <catalog_product_compare_add_product>
                <observers>
                    <catalog_product_compare_add_product>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>catalogProductCompareAddProduct</method>
                    </catalog_product_compare_add_product>
                </observers>
            </catalog_product_compare_add_product>
             
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Betaout_Amplify before="Mage_Adminhtml">Betaout_Amplify_Adminhtml</Betaout_Amplify>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <betaout_amplify_options>
                                            <title>Amplify Settings</title>
                                        </betaout_amplify_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
               
            </resources>
        </acl>
        <events>
            <catalog_product_delete_after_done>
                <observers>
                    <catalog_product_delete_after_done>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCatalog_product_delete_after_done</method>
                    </catalog_product_delete_after_done>
                </observers>
            </catalog_product_delete_after_done>
            <catalog_product_edit_action>
                <observers>
                    <amplify_observer>
                        <class>Betaout_Amplify_Model_Key</class>
                        <method>getAmplifyCatalog_product_edit_action</method>
                    </amplify_observer>
                </observers>
            </catalog_product_edit_action>
        </events>  
    </adminhtml>
</config>